
.vs/net_chatroom/FileContentIndex/443a0d96-749f-4822-95a6-4075bf1e0b7b.vsidx
.vs/net_chatroom/FileContentIndex/52d099f7-e4b8-4609-950b-508f81637bef.vsidx
.vs/net_chatroom/FileContentIndex/6529b2d6-223a-451a-ab19-46d8b01a8011.vsidx
.vs/net_chatroom/FileContentIndex/7316db0c-9264-43d4-ac2a-717d25ea2ed3.vsidx
.vs/net_chatroom/FileContentIndex/8b6bbe50-c547-4c02-8206-d4ea56efac95.vsidx
.vs/net_chatroom/FileContentIndex/a0c4e7cd-3a9f-4c44-a767-e821ff88c2e6.vsidx
.vs/net_chatroom/FileContentIndex/b8d865c3-614d-45c2-aafd-c5a71156b70a.vsidx
.vs/net_chatroom/FileContentIndex/ca35a7e5-7baf-464f-b9be-95ce543cb091.vsidx
.vs/net_chatroom/FileContentIndex/d9f7c454-5d32-4fc1-8f5c-ece00a3648e1.vsidx
.vs/net_chatroom/FileContentIndex/e919f623-ac4c-48a4-9a6f-dc421346a3f5.vsidx
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Application.dll
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Application.pdb
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.Application/obj/Debug/net7.0/ChatRoom.Application.csproj.AssemblyReference.cache
ChatRoom.Application/obj/Debug/net7.0/ChatRoom.Application.dll
ChatRoom.Application/obj/Debug/net7.0/ChatRoom.Application.pdb
ChatRoom.Repository/bin/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.Repository/bin/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.AssemblyInfo.cs
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.csproj.AssemblyReference.cache
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.Repository/obj/Debug/net7.0/ref/ChatRoom.Repository.dll
ChatRoom.Repository/obj/Debug/net7.0/refint/ChatRoom.Repository.dll
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Application.dll
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Application.pdb
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.Application/obj/Debug/net7.0/ChatRoom.Application.csproj.AssemblyReference.cache
ChatRoom.Application/obj/Debug/net7.0/ChatRoom.Application.dll
ChatRoom.Application/obj/Debug/net7.0/ChatRoom.Application.pdb
ChatRoom.Repository/bin/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.Repository/bin/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.AssemblyInfo.cs
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.csproj.AssemblyReference.cache
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.Repository/obj/Debug/net7.0/ref/ChatRoom.Repository.dll
ChatRoom.Repository/obj/Debug/net7.0/refint/ChatRoom.Repository.dll
.vs/net_chatroom/FileContentIndex/8b6bbe50-c547-4c02-8206-d4ea56efac95.vsidx
.vs/net_chatroom/FileContentIndex/a0c4e7cd-3a9f-4c44-a767-e821ff88c2e6.vsidx
.vs/net_chatroom/FileContentIndex/b8d865c3-614d-45c2-aafd-c5a71156b70a.vsidx
.vs/net_chatroom/FileContentIndex/ca35a7e5-7baf-464f-b9be-95ce543cb091.vsidx
.vs/net_chatroom/FileContentIndex/d9f7c454-5d32-4fc1-8f5c-ece00a3648e1.vsidx
.vs/net_chatroom/v17/.suo
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Application.dll
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Application.pdb
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.Application/bin/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.Application/obj/Debug/net7.0/ChatRoom.Application.csproj.AssemblyReference.cache
ChatRoom.Application/obj/Debug/net7.0/ChatRoom.Application.dll
ChatRoom.Application/obj/Debug/net7.0/ChatRoom.Application.pdb
ChatRoom.Repository/bin/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.Repository/bin/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.AssemblyInfo.cs
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.csproj.AssemblyReference.cache
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.Repository/obj/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.Repository/obj/Debug/net7.0/ref/ChatRoom.Repository.dll
ChatRoom.Repository/obj/Debug/net7.0/refint/ChatRoom.Repository.dll
ChatRoom.WebApplication/bin/Debug/net7.0/ChatRoom.Application.dll
ChatRoom.WebApplication/bin/Debug/net7.0/ChatRoom.Application.pdb
ChatRoom.WebApplication/bin/Debug/net7.0/ChatRoom.Repository.dll
ChatRoom.WebApplication/bin/Debug/net7.0/ChatRoom.Repository.pdb
ChatRoom.WebApplication/bin/Debug/net7.0/ChatRoom.WebApplication.dll
ChatRoom.WebApplication/bin/Debug/net7.0/ChatRoom.WebApplication.pdb
ChatRoom.WebApplication/obj/Debug/net7.0/ChatRoom.WebApplication.csproj.AssemblyReference.cache
ChatRoom.WebApplication/obj/Debug/net7.0/ChatRoom.WebApplication.csproj.CoreCompileInputs.cache
ChatRoom.WebApplication/obj/Debug/net7.0/ChatRoom.WebApplication.dll
ChatRoom.WebApplication/obj/Debug/net7.0/ChatRoom.WebApplication.pdb
ChatRoom.WebApplication/obj/Debug/net7.0/ref/ChatRoom.WebApplication.dll
ChatRoom.WebApplication/obj/Debug/net7.0/refint/ChatRoom.WebApplication.dll
